WCFStreaming/StreamingClient/Connected Services/StreamingService/StreamingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/StreamingService.Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StreamingService" />
  <xs:import schemaLocation="http://localhost:8732/StreamingService.Service?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="DownloadFileRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StreamingService" name="downloadFileRequestHeader" nillable="true" type="q1:DownloadFileRequestHeader" />
  <xs:element name="DownloadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="File" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StreamingService" name="downloadFileResponseHeader" nillable="true" type="q3:DownloadFileResponseHeader" />
  <xs:element name="UploadFileRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="File" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/StreamingService" name="uploadFileRequestHeader" nillable="true" type="q5:UploadFileRequestHeader" />
  <xs:element name="UploadFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/StreamingService" name="uploadFileResponseHeader" nillable="true" type="q6:UploadFileResponseHeader" />
</xs:schema>