WCFStreamingTcp/WCFStreaming/Client/Connected Services/StreamingService/StreamingService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StreamingService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StreamingService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DownloadFileRequestHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadFileRequestHeader" nillable="true" type="tns:DownloadFileRequestHeader" />
  <xs:complexType name="DownloadFileResponseHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadFileResponseHeader" nillable="true" type="tns:DownloadFileResponseHeader" />
  <xs:complexType name="UploadFileRequestHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadFileRequestHeader" nillable="true" type="tns:UploadFileRequestHeader" />
  <xs:complexType name="UploadFileResponseHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadFileResponseHeader" nillable="true" type="tns:UploadFileResponseHeader" />
</xs:schema>